---
import Layout from '../../layouts/Layout.astro';
import Counter from '../../components/Counter';
import IframeContainer from '../../components/iframeContainer';

---
<Layout title="is this working?">
<h1>hi</h1>
            <h1>Astro.js - Qwik</h1>
jessie is a bitch            

            <Counter />
<IframeContainer/>
</Layout>
